# SQLite proxy / local debug
SQLITE_DB_PATH=./data/movienight.db
SQLITE_PROXY_URL=http://127.0.0.1:9000

# Vault
VAULT_ADDR=http://127.0.0.1:8200
VAULT_TOKEN=root

# Conjur
CONJUR_BASE_URL=https://localhost:8443
CONJUR_ACCOUNT=myConjurAccount
CONJUR_LOGIN_FOR_PROXY=host/sqlite-policy/database-proxy
CONJUR_CERT_FILE=./infra/conjur/conf/tls/nginx.crt