# SQLite proxy / local debug
SQLITE_DB_PATH=./data/movienight.db
SQLITE_PROXY_URL=http://sqlite-proxy:9000

# Vault
VAULT_ADDR=http://vault:8200
VAULT_TOKEN=root

# Conjur
CONJUR_BASE_URL=http://conjur:80
CONJUR_ACCOUNT=movienight
CONJUR_LOGIN_FOR_PROXY=host/sqlite-policy/database-proxy
CONJUR_CERT_FILE=./infra/conjur/conf/tls/nginx.crt